<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>University Management System</title>
</head>

<body>
    <!--Header-->
    <header id="site-header" class="nav-bar">
        <div class="title-area">
            <div id="site-title">
                <img src="https://www.binghamton.edu/assets/img/logo/binghamton-university.png" alt="Binghamton University: The State University of New York" class="iconography">
                <!--<a href="https://www.binghamton.edu/">Binghamton University: The State University of New York</a>-->
            </div>
            <div id="section-header-inline">University Management Systems</div>
            <a href="/login" class="nav-btn toggle-search">Sign Out</a>
        </div>
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>