<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>University Management System</title>
</head>

<body>
    <!--Header-->
    <header class="title">
        <h1>
            <img src="https://www.binghamton.edu/communications-and-marketing/img/logos/binghamton/png/BinghamtonU_white.png" alt="Binghamton University">
            University Management System
        </h1>
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>