<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}

<style>
    .alert{
        padding: 10px;
        background-color: #5ac8ff;
        color: white;
    }
</style>

<table>
    <form action="{{ url_for('add') }}" method="post"></form>
    {{ form.csrf_token }}
    <tr>
        <td>User Name: {{ form.user }}</td>
    </tr>
    <tr>
        <td>Password: {{ form.password }} </td>
    </tr>
    <tr>
        <td>{% if message %}<p class="alert">{{ message }}</p>{% endif %}</td>
    </tr>
    <tr>
        <td>{{ form.submit }}</td>
    </tr>
</table>
{% endblock %}