{% extends "base.html" %}
{% block main %}
<style>
  /* Add a black background color to the top navigation */
.topnav {
background-color: #005A43;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #6CC24A;
color: white;
}
</style>

<div class="topnav">
  <a href="/home/{{ id }}">Home</a>
  <a class="active" href="#courses">Courses</a>
  <a href="/payments/{{ id }}">Payment</a>
</div>

<h3>List of Courses</h3>

<table>
  <tr>
    <th>
      Subject
    </th>
    <th>
      Course Number
    </th>
    <th>
      Course Name
    </th>
    <th>
      Capacity
    </th>
    <th>
      Instructor
    </th>
    <th>
      Meeting
    </th>
    <th>
      Credits
    </th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>
      {{ course.subject }}
    </td>
    <td>
      {{ course.courseNumber }}
    </td>
    <td>
      {{ course.name }}
    </td>
    <td>
      {{ course.enrolled }}/{{ course.capacity }}
    </td>
    <td>
      {{ course.instructor }}
    </td>
    <td>
      {{ course.meeting }}
    </td>
    <td>
      {{ course.credits }}
    </td>
  </tr>
  {% endfor %}
</table>

<h3>
  Add/Drop Courses
</h3>

<table>
  <form method="post">
  {{ form.csrf_token }}
  <tr>
    <td colspan="2">
      {{ form.subject }}
    </td>
  </tr>
  <tr>
    <td colspan="2">{{ form.courseNumber }}</td>
  </tr>
  <tr>
    <td colspan="2">{% if message %}<p class="alert">{{ message }}</p>{% endif %}</td>
  </tr>
  <tr>
    <td>{{ form.add }}</td>
    <td>{{ form.drop }}</td>
  </tr>
  </form>
</table>

{% endblock %}